.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* Self Clearing */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #23262E;
  color: #FFFFFF;
  margin: 0;
  font-family: "Quattrocento Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
}

.column,
.columns {
  margin-left: 0.5%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

h3 {
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -1px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h5 {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  margin-bottom: 6px;
  margin-top: 6px;
}

h6 {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 8px;
  margin-top: 8px;
}

p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

/* Links */
a {
  color: #FFD15F;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #e6bc56;
}

/* Buttons */
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover,
button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
  background-color: #FFD15F;
  color: #2d3038;
  border: none;
}

/* Containers */
.pretty_container {
  border-radius: 0px;
  background-color: #2d3038;
  margin: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

.bare_container {
  margin: 0;
  padding: 0;
}

.mini_container {
  border-radius: 0px;
  background-color: #2d3038;
  margin: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

/* Controls */
.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100% - 40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100% - 40px);
  color: #FFFFFF;
}

/* Layout */
.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
  background-color: #2d3038;
  margin: 0px 0px 15px 0px;
  padding: 0px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

#title {
  text-align: center;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#mainGraphContainer {
  flex: 5;
  position: relative;
}

#top10cbsasGraphContainer {
  flex: 5;
  position: relative;
  min-height: 525px;
}

#top10cbsas_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

/* Plotly modebar */
.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

/* Dropdowns */
.Select-control {
  background-color: #2d3038 !important;
  border-color: #53555B !important;
  color: #FFFFFF !important;
}

.Select-menu-outer {
  background-color: #2d3038 !important;
  border-color: #53555B !important;
}

.Select-value-label {
  color: #000000 !important;
}

.Select--multi .Select-value {
  background-color: #FFD15F !important;
  border-color: #FFD15F !important;
  color: #FFFFFF !important;
}

/* Sliders */
.rc-slider-track {
  background-color: #FFD15F;
}

.rc-slider-dot-active {
  border-color: #FFD15F;
  border: solid 2px #FFD15F;
}

.rc-slider-handle {
  background-color: #FFD15F;
  border-color: #FFD15F;
}

.rc-slider-handle:hover {
  border-color: #FFD15F;
}

.rc-slider-handle-active:active {
  border-color: #FFD15F;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .one.column,
  .one.columns {
    width: 8%;
  }

  .two.columns {
    width: 16.25%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: calc(100% / 3);
  }

  .five.columns {
    width: calc(100% * 5 / 12);
  }

  .six.columns {
    width: 49.75%;
  }

  .seven.columns {
    width: calc(100% * 7 / 12);
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }
}

/* mobile styles */
@media (max-width: 550px) {
  .flex-display {
    display: block !important;
  }

  .column,
  .columns {
    margin-left: 0;
    width: 100%;
    float: none;
  }

  .pretty_container {
    margin: 0 !important;
    margin-bottom: 25px !important;
  }

  .mini_container {
    margin: 0 !important;
    margin-bottom: 25px !important;
  }

  #individual_graph,
  #top10cbsas_graph,
  #aggregate_graph {
    position: static !important;
  }

  #plotly-image {
    margin-bottom: 0px !important;
    height: 45px !important;
  }

  #learn-more-button {
    margin-top: 0px !important;
    padding: 0 10px !important;
    font-size: 12px !important;
  }

  #button {
    display: flex;
    justify-content: center;
  }

  #title {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 11px;
  }
}
